html,
body,
#app{
    height: 100%;
    margin: 0;
    padding: 0;
}

.el-row{
    margin-bottom: 15px;
}

.el-table{
    margin-bottom: 15px;
}

.pag{
    display: flex;
    flex-direction: row-reverse;
}

.v-btn{
    text-transform: none;
}
